* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: greenyellow 2px solid;
}
.body {
  display: flex;
}
.container {
  background-color: #1f2937;
  height: fit-content;
  padding: 5px;
}
#logo {
  color: white;
  font-size: 50px;
}
span {
  color: red;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav {
  display: flex;
  font-size: x-large;
  align-items: center;
  margin-left: 10%;
}
.navbar a {
  display: flex;
  color: aliceblue;
  padding: 40px;
}
.content {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
  margin: 20px;
}
.signup {
  display: flex;
  flex-direction: column;
}
#p1 {
  font-size: 50px;
  color: white;
}
#p2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}
.signup button {
  color: white;
  background-color: #3882f6;
  width: 120px;
  border-radius: 8px;
  font-size: 20px;
  border: 0px;
  margin-top: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
#placeholder {
  width: 550px;
  height: 250px;
  background-color: gray;
  text-align: center;
  padding: 110px;
  justify-content: center;
}
#heading {
  font-size: 50px;
  color: #1f2937;
  text-align: center;
  padding: 20px;
}

.box {
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
#box1 {
  display: inline-flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border: #3882f6 6px solid;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.box-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.box-content p {
  justify-content: center;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.quote {
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote p {
  font-size: 30px;
  font-style: italic;
  color: #1f2937;
  text-align: center;
  padding: 100px;
}
.quote span {
  font-size: 35px;
  color: black;
  display: flex;
  width: fit-content;
  margin-left: 900px;
}
.action {
  display: flex;
  justify-content: center;
}
.items {
  display: flex;
  background-color: #3882f6;
  margin: 150px;
  padding: 50px;
  border-radius: 10px;
  width: 1000px;
  align-items: center;
  color: white;
}
.items button {
  color: white;
  background-color: #3882f6;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  font-size: 20px;
  border: white 2px solid;
  margin-left: 150px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.items p {
  font-size: 20px;
}
.items span {
  color: white;
  font-size: 15px;
}
.footer {
  background-color: #1f2937;
  color: white;
  padding: 20px;
  text-align: center;
  width: ;
}
.footer a {
  color: white;
  width: fit-content;
}
